# Supabase Settings (Create a free project at supabase.com)
SUPABASE_URL=NEW_KEY_HERE
SUPABASE_KEY=NEW_KEY_HERE

# Adobe PDF Extract API Credentials (Get a free trial at developer.adobe.com)
PDF_SERVICES_CLIENT_ID=
PDF_SERVICES_CLIENT_SECRET=


# Frontend URL for CORS configuration
FRONTEND_URL=http://localhost:5173


#gemini_api_key
GEMINI_API_KEY=NEW_KEY_HERE
#jina embedding api key
JINA_API_KEY=

#groq api key
GROQ_API_KEY=
